@model AddEditDemo.Models.LOC_CountryModel

<div class="row">
    <div class="justify-content-evenly">
        <form method="post" asp-controller="LOC_Country" asp-action="Filter">
            <div class="row">
                <div class="col-md-4">
                    <input type="search" name="CountryName" asp-for="CountryName" class="form-control" placeholder="Enter Country Name">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-dark mx-auto">Search</button>
                    <a class="btn btn-light" asp-controller="LOC_Country" asp-action="SelectAll">Clear Filter</a>
                </div>
            </div>
        </form>
    </div>
</div>