
<div class="row">
    <div class="col-md-11"><h3>Employee List</h3></div>
    <div class="col-md-1"><form method="post" asp-controller="EMP_Employee" asp-action="Add"><button type="submit" class="btn btn-success">Add</button></form></div>
</div>
<br />
<div class="row">
    <div class="justify-content-evenly">
        <form method="post" asp-controller="EMP_Employee" asp-action="Filter">
            <div class="row">
                <div class="col-md-4">
                    <input type="search" name="EmployeeName" class="form-control" placeholder="Enter Name">
                </div>
                <div class="col-md-4">
                    <select name="Gender" class="form-control">
                        <option value="">Please select one…</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <input type="search" name="Email" class="form-control" placeholder="Enter Email">
                </div>
            </div>
            <br />
            <div class="col-2">
                <button type="submit" class="btn btn-dark mx-auto">Search</button>
                <a class="btn btn-light" asp-controller="EMP_Employee" asp-action="SelectAll">Clear Filter</a>
            </div>

        </form>
    </div>
</div>
<hr />